// slide-down 
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }

}


// Rotate 
@keyframes Rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }






  // shine 

 @keyframes shine {
  100% {
    left: 125%;
  }
}