.featured{
    background-color: #F9FAFB;

    .featured-head{
        text-align: center;
        h2{
            font-size: 48px;
            font-weight: 700;
            line-height: 140%; /* 67.2px */
            letter-spacing: -0.48px; 
            color: var( --heading-color) ;
        }
    }

    .featured-slick{
        margin-top: 33px;
        .featured-item{
            
            background-color: #fff;
            border-radius: 6px;
            overflow: hidden;
            margin: 0 15px;
            &:hover{
    
                .text-item-center{
                    h3{
                        a{
                            color: var(      --primary-color  ) !important;
                        }
                    }
                }
              
                .featured-item-img{
    
                    &::after{
                        animation: shine 800ms;
                    }
                    img{
                        transform: scale(1.1);
                        
                    }
                }
    
    
            }
    
            .featured-item-img{
                overflow: hidden;
                position: relative;
               
                .featured-item-img-overlay{
             
                    .featured-item-img-over-text{
                        .left-text{
                            position: absolute;
                            top: 14px;
                            left: 13px;
                            .icon{
                                width: 40px;
                                height: 40px; 
                                background-color: #fff;
                                border-radius: 50px;
                                text-align: center;
                                line-height: 40px;
                            }
                        }
    
                        .right-text{
                            position: absolute;
                            top: 14px;
                            right: 10px;
                            h5{
                                font-weight: 700;
                                color: #fff;
                                padding: 8px 10px;
                                border-radius: 6px;
                                background-color: rgba(0, 9, 41, 0.80);
                            }
                        }
                    }
                }
    
                
                &::after{
                    position: absolute;
                    content: "";
                    top: 0;
                    left: -75%;
                    z-index: 2;
                    display: block;
                    width: 50%;
                    height: 100%;
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
                    transform: skewX(-25deg);
                   
                }
    
                img{
                    transition: all 0.5s ease-out;
                }
            }
    
    
            .featured-item-text{
                padding: 24px 20px;
                box-shadow:(0px 2px 40px rgba(0, 0, 0, 0.06));
                .text-item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(229, 230, 235, 0.4);
                    padding-bottom: 12px;
                    .left{
                        h3{
                            letter-spacing: -1px; 
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 150%; /* 36px */
                            letter-spacing: -1px; 
                            color: var(--heading-color);
                        }
                    }
    
                    .right{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        .icon{
                            line-height: 0;
                        }
                        h5{
                            font-size: 16px;
                            line-height: 150%;
                            font-weight: 700; 
                            color: var(--heading-color);
                        }
                    }
                }
    
                .text-item-center{
                    padding-top: 8px;
    
                    h3{
                        a{
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%; /* 36px */
                            letter-spacing: -0.24px; 
                            transition: all 0.3s;
                            color: var(--heading-color);
                        }
                    }
                }
    
                .text-item-center-item-box{
                    padding-top: 10px;
                    .text-item-center-item{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        padding-bottom: 10px;

                        .text{
                            h5{
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                                color: var(    --grey-scale-600);
                            }
                        }
    
                        &:last-child{
                            padding-bottom: 0;
                        }
                    }
    
                    .featured-item-btn{
                        margin-top: 13px;
                        .main-btn-three{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            justify-content: center;
    
                            span{
                              
                                    stroke: currentColor;
                                    color: #6C727F;
                                
                            }
                         
                          
                        }
                    }
                }
            }
    
        }
    }

   
}  